html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    /*overflow: hidden;*/
}

#test-image
{
    position: absolute;
    background: url(../img/test.jpg);
    background-size: 100% 100%;
}

/*      竖屏      */
@media all and (orientation : portrait)
{
    #test-image
    {
        width: 2.247rem;
        height: 3rem;
        left: 50%;
        margin-left: -1.123rem;
        top: 50%;
        margin-top: -1.5rem;
    }
}
/*      横屏      */
@media all and (orientation : landscape)
{
    #test-image
    {
        width: 2.247rem;
        height: 3rem;
        left: 0%;
        top: 50%;
        margin-top: -1.5rem;
    }
}
